body{
    background-color: #ffffff;
    color: #0dbcc2;
}

h1{
    text-align: center;
    color: #53995c;
}

h2{ 
    color: #a6ece1;
    font-style:italic;
}

.class{
    color: #0a5728;
}

#id {
    color: #000000;
}
