body {
    background-color: #ffffff;
    color: #83e39f;
}

h1 {
    text-align: center;
    color: #53995c;
}

h2 {
    color: #83e39f;
    font-style: italic;
}

.header {
    color: #53995c;
}

#id {
    color: #53995c;
}