body {
    background-color: #ffffff;
    color: #116d2d;
}

h1 {
    text-align: center;
    color: #53995c;
}

h2 {
    color: #063d17;
    font-style: italic;
}

.header {
    color: #53995c;
}

#id {
    color: #53995c;
}
p {
    color:#99dda2
}